* {
  box-sizing: border-box;
  font-family: 'Open Sans';
  margin:0;
  padding:0;
}

body {
    display: grid;
    grid-template-columns: 25% 75%;
}

.menu {
  display: none;
}

.section-left {
    background-color: #1F1F3D;
}

h1 {
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  margin: 20px 10px;
}

h2 {
  color: #BFBFDD;
  font-size: 12px;
  font-weight: light;
  margin: 20px 10px;
}

.purple-sidebar-btn {
  background-color: #5356A4;
  color: #E9E9F3;
  border: 1px solid #353567;
  font-size: 14px;
  font-weight: bold;
  font-stretch: expanded;
  padding: 10px 0px;
  width: 90%;
  margin: 0px 10px 20px 10px;
}

.genius-button {
  margin-bottom: 20px;
}

.new-quality-label {
  margin-bottom: 0;
}

.new-quality-input {
  height: 40px;
  margin: 0px 10px 20px 10px;
  width: 90%;
}

.empty-sidebar-bottom-box {
  min-height: 400px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
}

.filter-btn {
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
  background-color: #1F1F3D;
  border: none;
  color: #FFF;
  padding-left: 10px;
}

.filter-btn:hover {
  background-color: #D14119;
  border-left: 3px solid #F58E72;
}

.sidebar-form {
  border-bottom: 1px solid #353567;
}

.section-right {
  background-color: #EAEAEA;
}

.top-input {
	background-color: #A9AAD2;
}

.top-input-form {
	display: grid;
	grid-template-columns: 50%;
	justify-content: center;
}

#search-input {
    width: 90%;
}

.top-input-form textarea, input {
	width: 100%;
  border: 1px solid #353567;
}

#card-title-input {
  height: 60px;
  font-size: 20px;
}

#text-body-input {
  height: 100px;
  font-size: 16px;
}

.save-button {
  height: 60px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #353567;
  color: #FFFFFF;
	background-color: #1F1F3D;
	width: 100%;
  font-size: 20px;
}

.create-card-inputs {
	align-items: center;
	display: table;
	margin: 10px;
	border: none;
}

.input-labels label {
	display: block;
	font-size: 12px;
	color: #1F1F3D;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

button:disabled {
  background-color: #BFBFDD;
  border: 1px solid #353567;
}

.empty-card-top-bar {
  background-color: #E9E9F3;
  height: 40px;
}

.displayEmpty {
  display: none;
}

.card img {
  width: 10%
}

.delete-card-button {
  float: right;
}

.search-cards{
  display: flex;
  margin-bottom: 20px;
}

#search-input {
  height: 60px;
}

.search-button {
width: 10%;
background-color: #eadef4;
border: 1px solid #353567;
border-right: none;
}

.search-img {
  width: 95%;
}

.bottom-display {
  display: grid;
  justify-content: center;
  grid-template-columns: 31% 31% 31%;
  grid-gap: 20px 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.card {
  border: 1px solid #353567;
}

.blank-card {
  border: 1px solid black;
}

.card-body-title {
  margin: 15px;
  margin-top: 20px;
  margin-right: 25px;
  margin-bottom: 20px;
  font-size: 22px;
}

.card-body-text {
  min-height: 135px;
  font-size: 18px;
}

.card-title {
  background-color: #1F1F3D;
}

.idea-title {
  margin-top: 10px;
  margin-bottom: 15px;
  min-height: 75px;
}

.card-footer h4 {
  text-align: center;
  color: #E9E9F3;
  font-size: 20px;
  margin: auto;
}

.card-footer {
  background-color: #5356A4;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 5px;
  height: 50px;
}

@media only screen and (max-width: 1050px) {
  .card-footer h4{
    font-size: 15px;
  }

  .idea-title {
    font-size: 18px;
  }

  .card-body-text {
    font-size: 15px;
  }
}

@media only screen and (max-width: 850px) {
  body {
    display: block;
  }

  .menu {
    display: inline-flex;
    height: 45px;
    position: absolute;
    left: 0;
    margin-left: 10px;
  }

  h1 {
    font-size: 25px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: center;
  }

  .hidden-menu {
    display: none;
  }

  .new-quality-input,
  .purple-sidebar-btn {
    width: 95%;
  }

  .empty-sidebar-bottom-box {
    min-height: 0;
  }

  .top-input-form {
    display: flex;
  }

  .bottom-display {
    grid-template-columns: 90%;
  }

  .card-footer h4{
    font-size: 20px;
  }

  .idea-title {
    font-size: 22px;
  }

  .card-body-text {
    font-size: 18px;
  }
}
