* {
 /* border: 1px solid pink;*/
  box-sizing: border-box;
  font-family: 'Open Sans', Optima, sans-serif;
  margin:0;
  padding:0;
  border: 1px solid black;
}

body {
	display: grid;
	grid-template-columns: 20% 80%;


}

.section-left {
	background-color: #1F1F3D;
}

h1 {
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  margin: 20px 5px;
}

.section-right {
	/*grid-row: 40% 60%;*/

}

.top-input {
	
}