* {
 /* border: 1px solid pink;*/
  box-sizing: border-box;
  font-family: 'Open Sans', Optima, sans-serif;
  margin:0;
  padding:0;
  border: 1px solid black;
}

body {
	display: grid;
	grid-template-columns: 20% 80%;

}

.section-left {

}

.section-right {

}

.top-input {
	background-color: #A9AAD2;
	height: 300px;
}

.create-card-inputs {

	align-items: center;
	display: table;
	margin: 10px;
	border: none;
	/*
	grid-template-columns: 	minmax(300px, 1fr));
    grid-gap: 20px;*/
}
/*
.top-input-form {
	display: grid;
	grid-template-columns: 	minmax(300px, 1fr));
    grid-gap: 20px;
}*/